.userForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
}

.userForm button {
    margin-top: 20px;
    background-color: #032541;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}