.tabsContainer {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    justify-content: center;
}
  
.tab,
.activeTab {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    transition: opacity 0.2s ease;
}
  
.tab:hover{
    opacity: 0.8;
}

.activeTab {
    background-color: #eee;
}