.movieItem {
    display: flex;
    flex-direction: column;
    height: 330px;
    position: relative;
    padding: 0;
    margin: 0;
}

.movieItem .card-img-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.movieInfoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.movieItem:hover .movieInfoOverlay {
    opacity: 1;
}

.movieTitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.seeMoreBtn {
    background-color: #032541;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    text-align: center;
}
.seeMoreBtn:hover {
    background-color: #FFC107;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.3s ease;
}