.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

.cardContent {
    display: flex;
}

.imagenContainer {
    position: relative;
}

.posterContainer {
    position: relative;
}

.posterImage {
    width: 220px;
    height: 330px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posterContainer:hover .overlay {
    opacity: 1;
}

.hearthImage {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}

.movieInfoContainer {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.movieName {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.movieInfo {
    margin-bottom: 20px;
}

.seeMoreBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seeMoreBtn:hover {
    background-color: #0056b3;
}