.detailContainer {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posterImage {
    width: 300px;
    height: auto;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movieDetails {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  display: grid;
  place-items: center;
  flex-direction: column;
  position: relative;
}

.movieName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagline {
  font-size: 16px;
  margin-bottom: 10px;
}

.infoParagraph {
  text-align: left;
  line-height: 1.6;
  margin-bottom: 20px;
}

.scoreLabel {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.scoreValue {
  font-size: 16px;
}

.imdbLink {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
}

.homepageLink {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}