.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 20px 0px;
  justify-content: center;
}

.page {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.page:hover {
  background-color: #eee;
}

.activePage {
  background-color: #032541;
  color: #fff;
}

.disabledPage {
  cursor: not-allowed;
}

.previous,
.next {
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #032541;
}

.previous:hover,
.next:hover {
  background-color: #eee;
  color: #032541;
}

.activePage:hover {
  background-color: #eee;
  color: #032541;
}

.searchInput {
  width: 80%;
  max-width: 500px;
  margin: 20px 0px;
  font-size: 20px;
  border-radius: 25px;
  padding: 12px 20px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color 0.3s ease-in-out;
  &:focus {
    background-color: rgba(255, 255, 255, 1);
  }
}